.controller {
  width: 243px;
  height: 38px;
  margin-top: 38px;
  margin-bottom: 30px;
  background: #F3F4F6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 8px 12px;
    color: #4D5562;
    // transition: all 0.3s;
    outline: none;
    border:none;
    height:100%;
    width:100%;
    cursor: pointer;

    &>svg {
      display: inline-block;
      margin-right: 8px;
    }

    &>span {
      display: inline-block
    }
  }

  .button.active {
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 5px;

    &>svg {
      & > .svg {
        stroke: blue;
      }
    }
  }
}